*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0.2rem 1rem;
    background: whitesmoke;
    border-bottom: 1px solid rgb(151, 150, 150);
    box-shadow: 0px 0px 2px 0px gray;
}
body{
    position: relative;
}
.header_left img{
width: 200px;
}
.header_right{
    display: flex;
}
.image_container img{
width: 30px;
}
.image_container{
    padding: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
}
.image_container:hover{
    background: rgba(168, 166, 166, 0.555);
}

.menu{
    position:absolute;
    display: none;
}
/* 
//date part */
.sort{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    padding: 0.3rem;
    font-family: system-ui;
    border: 1px solid rgb(151, 150, 150);
    background: rgba(255, 255, 255, 0.836);
}
.sort img{
    width: 30px;
    
}
.cover{
    background-color: whitesmoke;
    padding: 5px 10px;

}

/* this is main css code */

main{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke; 
     height: 80vh;
}
.main_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(219, 217, 217);
    align-items: center;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 5px 2px gray;
}
.main_left img{
cursor:pointer;
}
.add_icon{
    position: absolute;
    top: 40%;
    left: 20px;
    padding: 0;
}
.main_right{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap:wrap;
}
.note_card{
    height: 10rem;
    width: 8rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 22, 0.664);
    font-family: system-ui;
    overflow: hidden;
    padding: 0.2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(177, 174, 174);
    box-shadow:0px 0px 5px 1px gray
}
.date{
    text-align: center;
    background: wheat;
    border-radius: 5px;
}

/* text editor css --------------------------*/

.text_editor{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60vw;
    background-color: khaki;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px gray;
    position:absolute;
    top: 12%;
    left: 17%;
    display: none;
}
.editor_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(243, 243, 17, 0.877);
    padding: 0.5rem 1rem;
}
.editor_left{
display: flex;
flex-direction: row;
align-items: center;
justify-content:flex-start;
}
.editor_left h3{
    font-family: system-ui;
    color: rgb(31, 30, 30);
    margin-left: 10px;
}
.editor_left img ,.editor_right img{
    width: 20px;
    margin-right: 10px;
    padding: 0.2rem;
    border-radius: 50%;
}
.editor_left img:hover ,.editor_right img:hover{
background-color: rgba(24, 23, 23, 0.178);
cursor: pointer;
}
.editor_date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.editor_date p{
    font-family: arial;
    padding: 1rem 0.5rem;
}

.editor{
    padding: 1rem;
}
.editor form{
    display: flex;
    flex-direction: column;
}
.editor form .line{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(53, 52, 52);
    outline: none;
    font-size: 1.2rem;
    color:rgb(26, 25, 25) ;
    font-family: arial;
}